<div class="container p-4 bg-white">
<div>
  <div class="row" *ngIf="esperaPedido">
    <div class="col" *ngIf="esperaArticulos">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <th>Producto</th>
            <th></th>
            <th>Cantidad</th>
            <th>Precio unidad</th>
            <th>Precio total</th>
          </thead>
          <tr *ngFor="let articulo of lineaPedido">
            <td>
              <img align="center" *ngIf="articulo.articulo.imagenGenerada=='data:image/png;base64,null'" src="../../../../assets/carrito.png" class="nailsLogin col-12 img1" alt="imagen articulo">
              <img align="center" *ngIf="articulo.articulo.imagenGenerada!='data:image/png;base64,null'"class="card-img-top img1" src="{{articulo.articulo.imagenGenerada}}" alt="imagen articulo">
            </td>
            <td>
              <p align="left">{{articulo.articulo.nombre}}</p>
            </td>
            <td>
              <p>{{articulo.cantidad}}</p>
            </td>
            <td *ngIf="articulo.articulo.grafica==null">{{(articulo.articulo.precio).toFixed(2)}}€</td>
            <td *ngIf="articulo.articulo.grafica!=null">{{(articulo.articulo.precio+articulo.articulo.fuente!.precio+articulo.articulo.grafica.precio+articulo.articulo.procesador!.precio+articulo.articulo.ram!.precio+articulo.articulo.discoduro!.precio).toFixed(2)}}</td>
          <td *ngIf="articulo.articulo.grafica==null">{{(articulo.articulo.precio*articulo.cantidad).toFixed(2)}}€</td>
          <td *ngIf="articulo.articulo.grafica!=null">{{((articulo.articulo.precio+articulo.articulo.fuente!.precio+articulo.articulo.grafica.precio+articulo.articulo.procesador!.precio+articulo.articulo.ram!.precio+articulo.articulo.discoduro!.precio)*articulo.cantidad).toFixed(2)}}</td>
          </tr>


          <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td></td>
            <td>{{valorTotal.toFixed(2)}}€</td>
          </tr>
        </table>
    </div>
    </div>


      <div class="col">
        <div class="col-lg-12 h1 ">
            Resumen compra
        </div>
        <br>
        <div class="col-lg-12">
          <h2>Su pedido se enviara a la dirección: </h2>
          <p>{{pedido.direccion}}</p>
          <h2>Se contactará al teléfono: </h2>
          <p>{{pedido.telefono}}</p>
          <h2>Su pedido ha sido pagado por: </h2>
          <p>{{pedido.tipopago}}</p>
          <h2>El dueño de la tarjeta es: </h2>
          <p>{{pedido.dueniotarjeta}}</p>
        </div>
        <br>

      </div>
      <div class="col-12">
        <button class="btn btn-primary" [routerLink]="['/paginas/ordenadores']">Finalizar</button>
      </div>


  </div>
</div>


</div>
