<header class="p-2 bg-white">

  <div class="row gx-0">
      <div class="col-6 ">
          <img class="logo2" src="./assets/logo.png" alt="logo" [routerLink]="['/paginas/home']">
      </div>
      <div class="col-6" align="right">
        <div class="col-6" align="right">
          <img class="icono1" alt="cerrar sesion" align="right" src="./assets/carrito.png" [routerLink]="['/paginasProtegidas/carrito']">
        </div>
        <div class="col-6" >
          <a class="usuario" [routerLink]="['/auth/login']"  *ngIf="!sesionIniciada">Usuario</a>

          <nav *ngIf="sesionIniciada">
              <ul>
                  <li class="nav nav-tabs">{{usuario.name}} <i class="down"></i>
                  <ul>
                      <li class="nav-item col-6"><a class="nav-link" [routerLink]="['/paginasProtegidas/datosUsuario']">Datos usuario</a></li>
                      <li class="nav-item col-6" ><a class="nav-link" [routerLink]="['/paginasProtegidas/pedidos']">Pedidos usuario</a></li>
                      <li class="nav-item col-6" ><a class="nav-link" [routerLink]="['/paginas/contactar']">Contactar</a></li>
                      <li class="nav-item col-6" ><a class="nav-link" [routerLink]="['/paginasProtegidas/administrador/crearComponente']" *ngIf="rolAdministrador">Crear artículo</a></li>
                      <li class="nav-item col-6" ><a class="nav-link" [routerLink]="['/paginasProtegidas/administrador/listUsers']" *ngIf="rolAdministrador">Usuarios</a></li>
                      <li class="nav-item col-6" (click)="cerrarSesiopn()"><a class="nav-link" [routerLink]="['/auth/login']">Cerrar sesión</a></li>
                  </ul>
                  </li>
              </ul>
          </nav>

        </div>
    </div>
  </div>
  <div class="row gx-0">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item col-6"><a class="nav-link" [routerLink]="['/paginas/componentes']" routerLinkActive="active">Componentes</a></li>
        <li class="nav-item col-6"><a class="nav-link" [routerLink]="['/paginas/ordenadores']" routerLinkActive="active">Ordenadores</a></li>
      </ul>
    </div>
  </div>
</header>
