<app-loading [texto]="'Ordenadores'" *ngIf="!espera"></app-loading>
<div class="row gx-0" *ngIf="espera">
  <div class="card" style="width: 18rem;" *ngFor="let ordenador of listaOrdenadores">
    <div *ngIf="ordenador.cantidad>=1" [routerLink]="['/paginas/ordenadores/detallesOrdenador',ordenador.id]" align="center">
      <img *ngIf="ordenador.imagenGenerada=='data:image/png;base64,null'" src="../../../assets/pcPredeterminado.png" class="nailsLogin col-12 img2" alt="imagen articulo">
      <img *ngIf="ordenador.imagenGenerada!='data:image/png;base64,null'"class="card-img-top img2" src="{{ordenador.imagenGenerada}}" alt="imagen articulo">
      <div class="card-body">
        <h3 class="card-title">{{ordenador.nombre}}</h3>
        <p class="precio">{{(ordenador.precio+ordenador.fuente.precio+ordenador.grafica.precio+ordenador.procesador.precio+ordenador.ram.precio+ordenador.discoduro.precio).toFixed(2)}}€</p>
      </div>
    </div>
    <div *ngIf="ordenador.cantidad<=0">
      <img *ngIf="ordenador.imagenGenerada=='data:image/png;base64,null'" src="../../../assets/pcPredeterminado.png" class="nailsLogin col-12 img2" alt="imagen articulo">
      <img *ngIf="ordenador.imagenGenerada!='data:image/png;base64,null'"class="card-img-top img2" src="{{ordenador.imagenGenerada}}" alt="imagen articulo">
      <img class="card-img-top agotado" src="../../../assets/agotado.png" alt="imagen de ordenador">
      <div class="card-body">
        <h3 class="card-title">{{ordenador.nombre}}</h3>
        <p class="precio">{{(ordenador.precio+ordenador.fuente.precio+ordenador.grafica.precio+ordenador.procesador.precio+ordenador.ram.precio+ordenador.discoduro.precio).toFixed(2)}}€</p>
      </div>
    </div>
  </div>
</div>


