<div class="row gx-0" *ngIf="espera">
  <div class="card" style="width: 18rem;" *ngFor="let ram of listaRAMs">
    <div *ngIf="ram.cantidad>=1" [routerLink]="['/paginas/componentes/grafica',ram.id]">
      <img class="card-img-top" src="{{ram.imagenes}}" alt="imagen de ordenador">
      <div class="card-body">
        <h5 class="card-title">{{ram.nombre}}</h5>
        <p class="card-text">{{ram.descripcion}}</p>
        <p>{{ram.precio.toFixed(2)}}€</p>
      </div>
    </div>
    <div *ngIf="ram.cantidad<=0">
      <img class="card-img-top" src="{{ram.imagenes}}" alt="imagen de ordenador">
      <img class="card-img-top agotado" src="../../../assets/agotado.png" alt="imagen de ordenador">
      <div class="card-body">
        <h5 class="card-title">{{ram.nombre}}</h5>
        <p class="card-text">{{ram.descripcion}}</p>
        <p>{{ram.precio.toFixed(2)}}€</p>
      </div>
    </div>
  </div>
</div>
