<div class="row gx-0" *ngIf="espera" align="center">
  <div class="card" style="width: 18rem;" *ngFor="let ram of listaRAMs">
    <div *ngIf="ram.cantidad>=1"  [routerLink]="['/paginas/componentes/rams/ram',ram.id]">
      <img *ngIf="ram.imagenGenerada=='data:image/png;base64,null'" src="../../../../../assets/ramEjemplo.png" class="nailsLogin col-12" alt="imagen articulo">
      <img *ngIf="ram.imagenGenerada!='data:image/png;base64,null'"class="card-img-top" src="{{ram.imagenGenerada}}" alt="imagen articulo">
      <div class="card-body">
        <h3 class="card-title">{{ram.nombre}}</h3>
        <p class="card-text">{{ram.descripcion}}</p>
        <p class="precio">{{ram.precio.toFixed(2)}}€</p>
      </div>
    </div>
    <div *ngIf="ram.cantidad<=0">
      <img *ngIf="ram.imagenGenerada=='data:image/png;base64,null'" src="../../../../../assets/ramEjemplo.png" class="nailsLogin col-12" alt="imagen articulo">
      <img *ngIf="ram.imagenGenerada!='data:image/png;base64,null'"class="card-img-top" src="{{ram.imagenGenerada}}" alt="imagen articulo">
      <img class="card-img-top agotado" src="../../../assets/agotado.png" alt="imagen de ram">
      <div class="card-body">
        <h3 class="card-title">{{ram.nombre}}</h3>
        <p class="card-text">{{ram.descripcion}}</p>
        <p class="precio">{{ram.precio.toFixed(2)}}€</p>
      </div>
    </div>
  </div>
</div>
