<div class="row gx-0" *ngIf="espera" align="center">
  <div class="card" style="width: 18rem;" *ngFor="let procesador of listaProcesadores">
    <div *ngIf="procesador.cantidad>=1 && procesador.activo"  [routerLink]="['/paginas/componentes/procesadores/procesador',procesador.id]">
      <img *ngIf="procesador.imagenGenerada=='data:image/png;base64,null'" src="./assets/procesadorejemplo.png" class="nailsLogin col-12 img2" alt="imagen articulo">
      <img *ngIf="procesador.imagenGenerada!='data:image/png;base64,null'"class="card-img-top img2" src="{{procesador.imagenGenerada}}" alt="imagen articulo">
      <div class="card-body">
        <h3 class="card-title">{{procesador.nombre}}</h3>
        <p class="precio">{{procesador.precio.toFixed(2)}}€</p>
      </div>
    </div>
    <div *ngIf="procesador.cantidad<=0 || !procesador.activo">
      <img *ngIf="procesador.imagenGenerada=='data:image/png;base64,null'" src="./assets/procesadorejemplo.png" class="nailsLogin col-12 img2" alt="imagen articulo">
      <img *ngIf="procesador.imagenGenerada!='data:image/png;base64,null'"class="card-img-top img2" src="{{procesador.imagenGenerada}}" alt="imagen articulo">
      <img class="card-img-top agotado" src="./assets/agotado.png" alt="imagen de procesador">
      <div class="card-body">
        <h3 class="card-title">{{procesador.nombre}}</h3>
        <p class="precio">{{procesador.precio.toFixed(2)}}€</p>
      </div>
    </div>
  </div>
</div>
