<div class="row gx-0" *ngIf="espera">
  <div class="card" style="width: 18rem;" *ngFor="let procesador of listaProcesadores">
    <div *ngIf="procesador.cantidad>=1" [routerLink]="['/paginas/componentes/grafica',procesador.id]">
      <img class="card-img-top" src="{{procesador.imagenes}}" alt="imagen de ordenador">
      <div class="card-body">
        <h5 class="card-title">{{procesador.nombre}}</h5>
        <p class="card-text">{{procesador.descripcion}}</p>
        <p>{{procesador.precio.toFixed(2)}}€</p>
      </div>
    </div>
    <div *ngIf="procesador.cantidad<=0">
      <img class="card-img-top" src="{{procesador.imagenes}}" alt="imagen de ordenador">
      <img class="card-img-top agotado" src="../../../assets/agotado.png" alt="imagen de ordenador">
      <div class="card-body">
        <h5 class="card-title">{{procesador.nombre}}</h5>
        <p class="card-text">{{procesador.descripcion}}</p>
        <p>{{procesador.precio.toFixed(2)}}€</p>
      </div>
    </div>
  </div>
</div>
