<div *ngIf="espera" class=" ">
  <div class="card div1 col-5">
    <div class="div8">
      <img *ngIf="ordenador.imagenGenerada=='data:image/png;base64,null'" src="../../../assets/pcPredeterminado.png" class="nailsLogin col-12 img3" alt="imagen articulo">
      <img *ngIf="ordenador.imagenGenerada!='data:image/png;base64,null'"class="nailsLogin col-12 img4" src="{{ordenador.imagenGenerada}}" alt="imagen articulo">
    <div class="card-body">
      <h1 class="card-title">{{ordenador.nombre}}</h1>
      <p class="card-text">{{ordenador.descripcion}}</p>
      <p class="card-text"><b>Características:</b></p>
      <p class="card-text"><b>Procesador:</b> {{ordenador.procesador.nombre}}</p>
      <p class="card-text"><b>Disco duro:</b> {{ordenador.discoduro.nombre}} {{ordenador.discoduro.capacidad}}</p>
      <p class="card-text"><b>Fuente:</b>: {{ordenador.fuente.nombre}} {{ordenador.fuente.potencia}}</p>
      <p class="card-text"><b>Gráfica:</b> {{ordenador.grafica.nombre}} {{ordenador.grafica.modelo}}</p>
      <p class="card-text"><b>Ram:</b> {{ordenador.ram.nombre}} {{ordenador.ram.kit}}GB</p>
      <h2><p class="card-text"><b>Precio:</b> {{(ordenador.precio+ordenador.fuente.precio+ordenador.grafica.precio+ordenador.procesador.precio+ordenador.ram.precio+ordenador.discoduro.precio).toFixed(2)}}€</p></h2>
    </div>
    </div>

  </div>

  <div class="div2 col-5">
    <label class="col-12"><h1>Componentes configurables</h1></label>
    <select name="Procesador" class="selector texto1" [(ngModel)]="ordenador2.procesador.id" (click)="calcularPrecioModificado()">
      <option *ngFor="let procesador of procesadores" value="{{procesador.id}}">{{procesador.nombre}} {{procesador.precio}}€</option>
    </select>
    <select name="RAM" class="selector texto1" [(ngModel)]="ordenador2.ram.id" (click)="calcularPrecioModificado()">
      <option *ngFor="let ram of rams" value="{{ram.id}}">{{ram.nombre}} {{ram.kit}} {{ram.precio}}€</option>
    </select>
    <select name="Disco" class="selector texto1" [(ngModel)]="ordenador2.discoduro.id" (click)="calcularPrecioModificado()">
      <option *ngFor="let disco of discos" value="{{disco.id}}">{{disco.nombre}} {{disco.capacidad}} {{disco.precio}}€</option>
    </select>
    <select name="Grafica" class="selector texto1" [(ngModel)]="ordenador2.grafica.id" (click)="calcularPrecioModificado()">
      <option *ngFor="let grafica of graficas" value="{{grafica.id}}">{{grafica.nombre}} {{grafica.modelo}} {{grafica.precio}}€</option>
    </select>
    <select name="Fuente" class="selector texto1" [(ngModel)]="ordenador2.fuente.id" (click)="calcularPrecioModificado()">
      <option *ngFor="let fuente of fuentes" value="{{fuente.id}}">{{fuente.nombre}} {{fuente.potencia}} {{fuente.precio}}€</option>
    </select>
    <h2 align="left">{{precioModificado.toFixed(2)}}€</h2>

      <div>
        <button class="btn btn-primary" (click)="comprar()"[disabled]="!validarToken">Comprar</button>
        <button class="btn btn-light color1" (click)="crearOrdenador()"[disabled]="!validarToken">Añadir la carrito</button>

    </div>
      <div class="div4">
        <button class="btn btn-primary" *ngIf="rolAdministrador && validarToken" [routerLink]="['/paginasProtegidas/administrador/editar-articulo/editarOrdenador',idOrdenador]">Editar</button>
        <button class="btn btn-danger" *ngIf="rolAdministrador && ordenador.activo && validarToken" (click)="desactivar()">Desactivar</button>
        <button class="btn btn-success" *ngIf="rolAdministrador && !ordenador.activo && validarToken" (click)="activar()">Activar</button>
      </div>
  </div>


</div>
