.div1{
  width: 45vw;
  float: left;
  margin-left: 10px;
}
.div2{
  text-align: center;
  float: right;
}
.div3{
  margin-left: 9%;
  float: left;
}
.color1{
  border: solid 2px;
  border-color: rgba(148, 148, 148, 0.411);
}

select {
  background: transparent;
  font-size: 14px;
  height: 5%;
  padding: 5px;
  width: 100%;
  border-radius: 10vw;
  margin-top: 2vw;
  text-align: center;
}
.texto1{
  font-size: 20px;
}

.btn{
  margin: 10%;
  border-radius: 15px;
  font-size:22px;
}

.row{
  display: block;
  padding-left: 0px;
  padding-right: 0px;
}
.div8{
margin-left: 10px;
}
