button{
  margin-bottom: 10px;
  margin-right: 20px;
}
.color1{
border: solid 2px;
border-color: rgba(148, 148, 148, 0.411);
}
.card{margin: 0px;
  cursor: default;
}

.comentarios{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

}

.comentario{
color: rgba(0, 0, 0, 0.719);
}

.comentarioDelUsuario{
  margin: 20px;
}

.btnEditar{
  margin-top: 30px;
  margin-left: 3vw;
}
