  <div class="row gx-0" *ngIf="espera">
    <div class="col ">
      <img *ngIf="articulo.imagenGenerada=='data:image/png;base64,null'" src="../../../../../assets/discoduroEjemplo.png" class="nailsLogin col-12 img3" alt="imagen articulo">
      <img *ngIf="articulo.imagenGenerada!='data:image/png;base64,null'"class="card-img-top img3" src="{{articulo.imagenGenerada}}" alt="imagen articulo">
    </div>

    <div class="col">

      <div  class=" ">
        <div class="card div1 col-12">
          <div class="card-body">
            <h1 class="card-title">{{articulo.nombre}}</h1>
            <p class="card-text"><b>Caracterìsticas:</b></p>
            <p>{{articulo.descripcion}}</p>
            <p class="card-text"><b>Tipo de tecnología: </b>{{articulo.tipo}}</p>
            <p class="card-text"><b>Capacidad: </b>{{articulo.capacidad}}</p>
            <p class="card-text"><b>Conexión usada: </b>{{articulo.conexion}}</p>
            <p class="card-text"><b>Precio: </b>{{articulo.precio}}€</p>

          </div>
          <div class="text-center">
            <button class="btn btn-primary col-5" (click)="comprar()" [disabled]="!validarToken">Comprar</button>
            <button class="btn btn-light col-5 color1" (click)="anadirCarrito()" [disabled]="!validarToken">Añadir la carrito</button>
          </div>

        </div>
        <button class="btn btn-primary btnEditar col-5" *ngIf="rolAdministrador && validarToken" [routerLink]="['/paginasProtegidas/administrador/editar-articulo/editarDisco',idDisco]">Editar</button>
        <button class="btn btn-danger btnActivar col-5" *ngIf="rolAdministrador && articulo.activo && validarToken" (click)="desactivar()">Desactivar</button>
        <button class="btn btn-success btnActivar col-5" *ngIf="rolAdministrador && !articulo.activo && validarToken" (click)="activar()">Activar</button>

      </div>

    </div>
    <div class=" comentarios">
      <div class="col-12">
        <h2 class="h2Comentarios">Comentarios: </h2>
        <form (ngSubmit)="hacerComentario()" autocomplete="off" [formGroup]="miFormulario">
          <button class="btn btn-primary " *ngIf="!anadirComentario" (click)="anadirUncomentario()">Añadir comentario</button>
          <button type="submit" class="btn btn-primary " *ngIf="anadirComentario" [disabled]="miFormulario.invalid">Añadir</button>
          <button class="btn btn-primary " *ngIf="anadirComentario" (click)="anadirUncomentario()">Cancelar</button><br>
          <label class="form-control-label h4" *ngIf="anadirComentario">Comentario</label>
          <input type="text" class="form-control" placeholder="Escriva su comentario" *ngIf="anadirComentario" formControlName="opinion">

            <span class="form-text text-danger" *ngIf="campoEsValido('opinion')">
              No puede estar vacio
            </span>
        </form>

      </div>
      <div *ngIf="!anadirComentario">
      <div class="comentarioDelUsuario" *ngFor="let comentario of listaComentarios">
        <div><p class="nombreUsuario"><b>{{comentario.usuario.name}}</b></p></div>
        <div><p class="comentario"><q>{{comentario.comentario}}</q></p></div>
      </div>
      </div>


    </div>

  </div>

