<form (ngSubmit)="enviar()" autocomplete="off">
  <div class="row gx-0">
    <div class="col-lg-12 h2">
      Editar RAM
    </div>
    <div class="col broque1">

      <div>
        <label class="form-control-label">NOMBRE DEL ARTICULO</label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre del articulo" [(ngModel)]="nombre" name="nombre">
      </div>
      <div>
        <label class="form-control-label">DESCRIPCION</label>
        <input type="text" class="form-control" placeholder="Ingrese descripcion del articulo" [(ngModel)]="descripcion" name="descripcion">
      </div>
      <div>
        <label class="form-control-label">CANTIDAD</label>
        <input type="number" class="form-control" placeholder="Ingrese cantidad en stock" [(ngModel)]="cantidad" name="cantidad">
      </div>
      <div>
        <label class="form-control-label">PRECIO</label>
        <input type="number" class="form-control" placeholder="Ingrese precio del articulo" [(ngModel)]="precio" name="precio">
      </div>
      <div>
        <label class="form-control-label">IMAGEN</label>
        <input type="file" class="form-control" placeholder="Ingrese imagen de referencia del articulo" [(ngModel)]="imagenes" name="imagenes" (change)="onFileChange($event)">
      </div>
    </div>

    <div class="col broque1">
      <br>
      <div>
        <label class="form-control-label">TIPO DE RAM</label>
        <input type="text" class="form-control" placeholder="DDR3, DDR4, DDR5" [(ngModel)]="tipoRam" name="tipoRam">
      </div>
      <div>
        <label class="form-control-label">FORMATO DE LA RAM</label>
        <input type="text" class="form-control" placeholder="SODIMM, DIMM" [(ngModel)]="formatoRam" name="formatoRam">
      </div>
      <div>
        <label class="form-control-label">CAPACIDAD DE LA RAM</label>
        <input type="number" class="form-control" placeholder="Ingrese cantidad de memoria" [(ngModel)]="capacidadRam" name="capacidadRam">
      </div>
      <div>
        <label class="form-control-label">KIT RAM</label>
        <input type="text" class="form-control" placeholder="2x8, 2x16, 1x8" [(ngModel)]="kitRam" name="kitRam">
      </div>
    </div>

    <br>
    <div class="col-12 loginbttm">
        <div class="col-12 row gx-0">
          <div class="col-6">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
          <div class="col-6">
            <button type="reset" class="btn btn-primary">Cancelar</button>
          </div>
        </div>
    </div>
  </div>
</form>
