<div class="container p-4 bg-white">
<h1>Carrito de la compra</h1><br>

<h2 *ngIf="!espera">Carrito vacio</h2>
<div class="table-responsive" *ngIf="espera">
<table class="table table-bordered table-condensed">
  <thead>
    <th>Producto</th>
    <th></th>
    <th>Cantidad</th>
    <th>Precio unidad</th>
    <th>Precio total</th>
    <th></th>
  </thead>
  <tr *ngFor="let articulo of listaArticulosCarrito">
    <td>
      <img align="center" *ngIf="articulo.articulo.imagenes!='data:image/png;base64,null'" src="./assets/carrito.png" class="nailsLogin col-12 img1" alt="Imagen articulo" >
      <img align="center" *ngIf="articulo.articulo.imagenes=='data:image/png;base64,null'"class="card-img-top img1" src="{{articulo.articulo.imagenes}}" alt="imagen articulo">
    </td>
    <td>
      <p align="left">{{articulo.articulo.nombre}}</p>
    </td>
    <td>
      <button (click)="disminuirCantidad(articulo.id,articulo)">-</button>
      <input type="number" class="form-control input1" value="{{articulo.cantidad}}">
      <button (click)="aumentarCantidad(articulo.id,articulo)">+</button>
    </td>
      <td *ngIf="articulo.articulo.grafica==null">{{(articulo.articulo.precio).toFixed(2)}}€</td>
      <td *ngIf="articulo.articulo.grafica!=null">{{(articulo.articulo.precio+articulo.articulo.fuente!.precio+articulo.articulo.grafica.precio+articulo.articulo.procesador!.precio+articulo.articulo.ram!.precio+articulo.articulo.discoduro!.precio).toFixed(2)}}</td>
    <td *ngIf="articulo.articulo.grafica==null">{{(articulo.articulo.precio*articulo.cantidad).toFixed(2)}}€</td>
    <td *ngIf="articulo.articulo.grafica!=null">{{((articulo.articulo.precio+articulo.articulo.fuente!.precio+articulo.articulo.grafica.precio+articulo.articulo.procesador!.precio+articulo.articulo.ram!.precio+articulo.articulo.discoduro!.precio)*articulo.cantidad).toFixed(2)}}</td>
    <td>
      <button align="right" class="btn btn-danger boton1" (click)="borrarArticulo(articulo.id)">Eliminar</button>
    </td>
  </tr>


  <tr>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>{{valorTotal.toFixed(2)}}€</td>
    <td></td>
    <td></td>
  </tr>
</table>
<button class="btn btn-primary boton2" [routerLink]="['/paginasProtegidas/datos-compra']">Comprar</button>

</div>
</div>
