  <div *ngIf="espera" class="row gx-0" >
    <div class="col ">

      <img *ngIf="articulo.imagenes!='data:image/png;base64,null'" src="../../../../../assets/fuenteEjemplo.png" class="nailsLogin col-12 img3" alt="imagen articulo">
      <img *ngIf="articulo.imagenes=='data:image/png;base64,null'"class="card-img-top img3" src="{{articulo.imagenes}}" alt="imagen articulo">
    </div>

    <div class="col">

      <div class=" ">
        <div class="card div1 col-12">
          <div class="card-body">
            <h1 class="card-title">{{articulo.nombre}}</h1>
            <p class="card-text">{{articulo.descripcion}}</p>
            <p class="card-text"><b>Caracteristicas:</b></p>
            <p>{{articulo.descripcion}}</p>
            <p class="card-text">Certificacion {{articulo.certificacion}}</p>
            <p class="card-text">Potencia {{articulo.potencia}}w</p>
            <p class="card-text">{{articulo.precio}}€</p>

          </div>
          <div class="text-center">
            <button class="btn btn-primary col-5" (click)="comprar()" [disabled]="!validarToken">Comprar</button>
            <button class="btn btn-light col-5 color1" (click)="anadirCarrito()" [disabled]="!validarToken">Añadir la carrito</button>
          </div>

        </div>

      </div>
    </div>
  </div>
