<form (ngSubmit)="enviar()" autocomplete="off">
  <div class="row gx-0">
    <div class="col-lg-12 h2">
      Editar gráfica
    </div>
    <div class="col broque1">

      <div>
        <label class="form-control-label">NOMBRE DEL ARTÍCULO</label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre del artículo" [(ngModel)]="nombre" name="nombre">
      </div>
      <div>
        <label class="form-control-label">DESCRIPCIÓN</label>
        <input type="text" class="form-control" placeholder="Ingrese descripción del artículo" [(ngModel)]="descripcion" name="descripcion">
      </div>
      <div>
        <label class="form-control-label">CANTIDAD</label>
        <input type="number" class="form-control" placeholder="Ingrese cantidad en stock" [(ngModel)]="cantidad" name="cantidad">
      </div>
      <div>
        <label class="form-control-label">PRECIO</label>
        <input type="number" class="form-control" placeholder="Ingrese precio del artículo" [(ngModel)]="precio" name="precio">
      </div>
      <div>
        <label class="form-control-label">IMAGEN</label>
        <input type="file" class="form-control" placeholder="Ingrese imagen de referencia del artículo" [(ngModel)]="imagenes" name="imagenes" (change)="onFileChange($event)">
      </div>
    </div>

    <div class="col broque1">
      <br>
      <div>
        <label class="form-control-label">MARCA DE LA GRÁFICA</label>
        <input type="text" class="form-control" placeholder="Ingrese marca de la gráfica" [(ngModel)]="marcaGrafica" name="marcaGrafica">
      </div>
      <div>
        <label class="form-control-label">MODELO DE LA GRÁFICA</label>
        <input type="text" class="form-control" placeholder="Ingrese el modelo de la gráfica" [(ngModel)]="modeloGrafica" name="modeloGrafica">
      </div>
    </div>

    <br>
    <div class="col-12 loginbttm">
        <div class="col-12 row gx-0">
          <div class="col-6">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
          <div class="col-6">
            <button type="reset" class="btn btn-primary">Cancelar</button>
          </div>
        </div>
    </div>
  </div>
</form>
