<app-loading [texto]="'Usuario'" *ngIf="!espera"></app-loading>
<div>
  <div class="row gx-0" *ngIf="espera">
      <div class="col broque1">
          <div class="col-12 h2">
              Tus datos
          </div>
          <br>
          <div class="col-12">
            <ul>
              <li><strong>Email: </strong>{{usuario.email}}</li>
              <li><strong>Nombre: </strong>{{usuario.name}}</li>
              <li><strong>Calle: </strong>{{usuario.calle}}</li>
              <li><strong>Teléfono: </strong>{{usuario.telefono}}</li>
            </ul>
          </div>
      </div>
      <div class="col broque1">
        <div class="col-12 h2">
          Datos predeterminados para pago
        </div>
        <br>
        <div class="col-12">
          <h3 *ngIf="usuario.dueniotarjeta==null">No hay datos aun</h3>
          <ul *ngIf="usuario.dueniotarjeta!=null">
            <li><strong>Método de pago: </strong>{{usuario.tipopago}}</li>
            <li><strong>Código tarjeta: </strong>{{usuario.codigotarjeta}}</li>
            <li><strong>Numero tarjeta: </strong>{{usuario.tarjeta}}</li>
            <li><strong>Dueño tarjeta: </strong>{{usuario.dueniotarjeta}}</li>
            <li><strong>Caducidad tarjeta: </strong>{{usuario.caducidadTarjeta}}</li>
          </ul>

        </div>
        <br>
    </div>
    <div align="center">
      <button  class="btn btn-primary" [routerLink]="['/paginasProtegidas/modificarUsuario']">Modificar</button>
    </div>

  </div>
</div>


