/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import "~primeng/resources/themes/nova/theme.css";


* {
  font-family: 'Poppins', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.img1{
width: 100px;
height: 100px;
 }
.img2{
width: 50%;
height: 50%;
display:block;

}
.img3{
width: 400px;
height: 400px;
display:block;
margin:auto;
}

.card{margin: 2px;
  cursor: default;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.precio{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  white-space: nowrap;
  color: rgb(51, 51, 51);
  display: inline-block;
  margin-bottom: 0.5rem;
}

.agotado{
  display: block;
  position: absolute;
  top: 0%;
  right: 25%;
  opacity:0.8;
}

.agotado2{
  display: block;
  position: absolute;
  top: 20%;
  opacity:0.8;
}
