<div class="row gx-0" align="center">
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/graficas']">
      <img class="card-img-top" src="../../../assets/graficaReferencia.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Gráficas</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/procesadores']">
      <img class="card-img-top" src="../../../assets/procesadorejemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Procesadores</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/fuentes']">
      <img class="card-img-top" src="../../../assets/fuenteEjemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Fuentes</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/discos']">
      <img class="card-img-top" src="../../../assets/discoduroEjemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Discos</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/rams']">
      <img class="card-img-top" src="../../../assets/ramEjemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">RAMs</h1>
      </div>
    </div>
  </div>
</div>

