<div class="row gx-0" >
  <div class="col-6" align="right" [routerLink]="['/paginas/componentes/graficas']">
    <img alt="grafica" align="left"class="imagen1" src="../../../assets/grafica.png">
    <h2 class="col-4" >Graficas</h2>
  </div>
  <div class="col-6" align="right" [routerLink]="['/paginas/componentes/procesadores']">
    <img alt="discos" align="left" class="imagen2" src="../../../assets/disco.png">
    <h2 class="col-4" >Discos</h2>
  </div>
  <div class="col-6" align="right" [routerLink]="['/paginas/componentes/fuentes']">
    <img alt="fuente" align="left" class="imagen2" src="../../../assets/procesador.png">
    <h2 class="col-4">Procesador</h2>
  </div>
  <div class="col-6" align="right" [routerLink]="['/paginas/componentes/discos']">
    <img alt="fuentes" align="left" src="../../../assets/fuente.png">
    <h2 class="col-4">Fuentes</h2>
  </div>
  <div class="col-6" align="right" [routerLink]="['/paginas/componentes/rams']">
    <img alt="RAM" align="left" class="imagen3" src="../../../assets/ram.png">
    <h2 class="col-4">RAMs</h2>
  </div>
</div>



