<!--<div class="row gx-0 text-center divPadre" >
  <div class="col-6" [routerLink]="['/paginas/componentes/graficas']">
    <img alt="grafica" align="left" src="../../../assets/graficaReferencia.png">
    <h2 >Gráficas</h2>
  </div>
  <div class="col-6" [routerLink]="['/paginas/componentes/procesadores']">
    <img alt="discos" align="left" src="../../../assets/procesadorejemplo.png">
    <h2 >Procesador</h2>
  </div>
  <div class="col-6" [routerLink]="['/paginas/componentes/fuentes']">
    <img alt="fuente" align="left" src="../../../assets/fuenteEjemplo.png">
    <h2>Fuentes</h2>
  </div>
  <div class="col-6" [routerLink]="['/paginas/componentes/discos']">
    <img alt="fuentes" align="left" src="../../../assets/discoduroEjemplo.png">
    <h2>Discos</h2>
  </div>
  <div class="col-6" [routerLink]="['/paginas/componentes/rams']">
    <img alt="RAM" align="left"  src="../../../assets/ramEjemplo.png">
    <h2 >RAMs</h2>
  </div>
</div>-->

<div class="row gx-0" align="center">
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/graficas']">
      <img class="card-img-top" src="../../../assets/graficaReferencia.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Graficas</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/procesadores']">
      <img class="card-img-top" src="../../../assets/procesadorejemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Procesadores</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/fuentes']">
      <img class="card-img-top" src="../../../assets/fuenteEjemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Fuentes</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/discos']">
      <img class="card-img-top" src="../../../assets/discoduroEjemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">Discos</h1>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div [routerLink]="['/paginas/componentes/rams']">
      <img class="card-img-top" src="../../../assets/ramEjemplo.png" alt="imagen de ordenador">
      <div class="card-body">
        <h1 class="card-title">RAMs</h1>
      </div>
    </div>
  </div>
</div>

