.div1{
  border-radius: 10px;
  border: solid 2px;
  margin-left: 20%;
  margin-right: 20%;
  padding: auto;
}

.separacion{
  border-top: solid 1px;
  border-color: #00000075;
}

.separacion2{
  border-top: solid 2px;
}

.btn{
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 50%;
}
table{
  margin-bottom: 0;
}
