<h2 align="center">Articulos del pedido</h2>
<br>

<div class="div1" *ngIf="espera">
  <div class="table-responsive">
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Producto</th>
        <th></th>
        <th>Cantidad</th>
        <th>Precio unidad</th>
        <th>Precio total</th>
      </thead>
      <tr *ngFor="let articulo of listaLinea">
        <td>
          <img align="center" *ngIf="articulo.articulo.imagenes==''" src="../../../../../assets/carrito.png" class="nailsLogin col-12 img1" alt="Imagen articulo" >
          <img align="center" *ngIf="articulo.articulo.imagenes!=''"class="card-img-top img1" src="{{articulo.articulo.imagenes}}" alt="imagen articulo">
        </td>
        <td>
          <p align="left">{{articulo.articulo.nombre}}</p>
        </td>
        <td>
          <p>{{articulo.cantidad}}</p>
        </td>
        <td *ngIf="articulo.articulo.grafica==null">{{(articulo.articulo.precio).toFixed(2)}}€</td>
        <td *ngIf="articulo.articulo.grafica!=null">{{(articulo.articulo.precio+articulo.articulo.fuente!.precio+articulo.articulo.grafica.precio+articulo.articulo.procesador!.precio+articulo.articulo.ram!.precio+articulo.articulo.discoduro!.precio).toFixed(2)}}</td>
      <td *ngIf="articulo.articulo.grafica==null">{{(articulo.articulo.precio*articulo.cantidad).toFixed(2)}}€</td>
      <td *ngIf="articulo.articulo.grafica!=null">{{((articulo.articulo.precio+articulo.articulo.fuente!.precio+articulo.articulo.grafica.precio+articulo.articulo.procesador!.precio+articulo.articulo.ram!.precio+articulo.articulo.discoduro!.precio)*articulo.cantidad).toFixed(2)}}</td>
      </tr>


      <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{valorTotal.toFixed(2)}}€</td>
        <td></td>
      </tr>
    </table>
</div>

</div>
<div class="div2">
  <button class="btn btn-primary boton1" [routerLink]="['/paginasProtegidas/pedidos']">Volver</button>
</div>

